
@font-face {
  font-family: 'Monospace Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Monospace Thin'), url(/assets/fonts/FreeMono.ttf) format('opentype');
}
@font-face {
  font-family: 'Monospace';
  font-style: normal;
  font-weight: 400;
  src: local('Monospace Regular'), url(/assets/fonts/FreeMonor.ttf) format('opentype');
}
@font-face {
  font-family: 'Monospace';
  font-style: italic;
  font-weight: 400;
  src: local('Monospace Italic'), url(/assets/fonts/FreeMonoOblique.ttf) format('opentype');
}
@font-face {
  font-family: 'Monospace';
  font-style: normal;
  font-weight: 600;
  src: local('Monospace Medium'), url(/assets/fonts/FreeMonoBoldOblique.ttf) format('opentype');
}
